:root {
	font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: 'Inter var', sans-serif;
	}
}
html {
	font-size: 62.5%;
}
* {
	box-sizing: border-box;
	a {
		text-decoration: none;
	}
}
:root {
	--blue: #1e90ff;
	--white: #ffffff;
	--grey: #595d62;
	--primary-color: #f9544e;
	--background-color: #13171a;
	--radius: 11px;
}
body {
	background-color: var(--background-color);
	background-image: -webkit-radial-gradient(
			96% 94%,
			19em 19em,
			#4d181f 40.6%,
			transparent 98%
		),
		-webkit-radial-gradient(11% 5%, 20em 20em, #4d181f 35.7%, transparent
					95%),
		-webkit-radial-gradient(center center, 27em 27em, #0071f263
					16.4%, transparent 72.6%);

	background-image: radial-gradient(
			circle 19em at 96% 94%,
			rgb(77, 24, 31) 40.6%,
			transparent 98%
		),
		radial-gradient(
			circle 20em at 11% 5%,
			#4d181f 35.7%,
			transparent 95%
		),
		radial-gradient(
			circle 27em at center center,
			#0071f263 16.4%,
			transparent 72.6%
		);
	background-image: -ms-radial-gradient(
			96% 94%,
			19em 19em,
			#4d181f 40.6%,
			transparent 98%
		),
		-ms-radial-gradient(11% 5%, 20em 20em, #4d181f 35.7%, transparent
					95%),
		-ms-radial-gradient(center center, 27em 27em, #0071f263
					16.4%, transparent 72.6%);

	// background-size: 50% 50%;
	background-repeat: no-repeat;
	// height: 100vh;
}
a,
a:hover,
a:visited {
	text-decoration: none;
	color: white;
}
* {
	// background: none repeat scroll 0 0;
	// background-color: radial-gradient(
	// 	circle at right bottom,
	// 	rgba(73, 18, 25, 1) 14%,
	// 	rgba(2, 0, 36, 0) 35%
	// );
	font-size: 62.5%;
	border: medium none;
	border-spacing: 0;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	list-style: none outside none;
	color: var(--white);
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
}

.btn {
	cursor: pointer;
	font-size: 20px;
	line-height: 24px;
	background-color: var(--primary-color);
	color: var(--white);
	border-radius: var(--radius);
	&--small {
		padding: 1rem 2.6rem;
	}
	&--large {
		padding: 1.5rem;
	}
}
