@font-face {
  font-family: "Gothic A1";
  src: url("./assest/fonts/GothicA1.ttf");
  src: local("Gothic A1"), url("./assest/fonts/GothicA1.ttf") format("truetype");
}
body {
  margin: 0;
  color: white;
  font-family: "Gothic A1";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Gothic A1";
}
html {
  font: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #030831;
  font-family: "Gothic A1";
}
a,
a:hover,
a:visited {
  text-decoration: none;
  color: white;
}
