.input{
  all: unset;
}
.inputBoundary{
  margin: 1rem 0;
  text-align: start;
  p{
    padding-left: calc(100% - 95%);
    color:#ec0303;
    letter-spacing: 1px;
    font-size: 1rem;
    margin: .1rem 0;
    display: inline-block;
  }
}
.inputImg{
  position: relative;

    img{
        position: absolute;
        left: 8%;
        top:50%;
        transform: translate(-50%,-50%);
    }
}
.error{
  border: 2px solid red;
}