.ticket {
  &__container {
    &--form {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      width: 80%;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 5rem auto;

      &--texts {
        flex: 3;
        ul {
          margin: 0rem;
          padding: 0rem;
          li {
            width: 28.8rem;
            height: 4.6rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0rem 0.8rem 0rem 0.8rem;

            p {
              font-weight: 700;
              font-size: 16px;
              line-height: 20px;
              color: #ffffff;

              span {
                padding-left: 1rem;
              }
            }

            img {
              width: 6px;
              height: 10px;
            }
          }
        }
      }
      // Accounts & Subscription
      &__accSub {
        flex: 9;
        &--status {
          display: flex;
          align-items: center;
          gap: 1rem;
          &__First {
            flex: 2;
            &__subCon {
              display: flex;
              justify-content: space-between;
              align-items: center;

              p {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #34c73a;
              }

              p:last-child {
                font-weight: 700;
                font-size: 20px;
                line-height: 25px;
                color: #ffffff;
                padding-right: 5.5rem;
              }
            }
          }
        }
        // Table
        &--tableContainer {
          display: flex;
          align-items: center;
          width: 100%;
          // justify-content: center;
          margin: 6.2rem 0rem 0rem 0rem;
          &--table {
            &__tableBody {
              table {
                border-collapse: collapse;
                width: 60vw;

                thead {
                  background: #071d47;
                  border-radius: 4px;
                  height: 4.2rem;
                  th {
                    text-align: left;
                    padding: 2rem 5rem 2rem 2rem;
                    font-weight: 700;
                    font-size: 1.3rem;
                    line-height: 18px;
                    color: #007aff;
                  }
                }

                tbody {
                  tr {
                    td:nth-child(3) {
                      color: red;
                    }

                    td:nth-child(5) {
                      color: rgba(255, 255, 255, 0.35);
                    }

                    td {
                      box-sizing: border-box;
                      padding: 2rem 5rem 2rem 2rem;
                      height: 3rem;
                      font-weight: 700;
                      font-size: 1.2rem;
                      line-height: 18px;
                      color: #ffffff;

                      img {
                        width: 2rem;
                        height: 2rem;
                        vertical-align: middle;
                        padding-right: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
